.Post{
    width: 300px;
    background-color: #ebe9e0;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 0.5rem;
    direction: rtl;
}

.Title , .date{
    align-self: start;
}

.abstract{
    text-align: justify;

}