app-post{
     display: inline-block;
    margin-bottom: 1rem;
}

.content{
    direction: rtl;
    justify-content: center;
}

.column{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}